#root {
  width:60%;
  margin-top:5%;
  text-align:center;
  background-color:#ccf2ff;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;

}
#seven {
  text-align:center;
  margin-top:50px;
  margin-bottom:20px;
  background-color: #d9d9d9;

}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
